<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<table>
  <th>name</th>
  <th>description</th>
  <th>price</th>
  <th>stock</th>
  <tr th:each="item : ${items}">
    <form action="/modify" method="post">
      <td>
        <input type="text" name="name" th:value="${item.name}">
      </td>
      <td>
        <input type="text" name="description" th:value="${item.description}">
      </td>
      <td>
        <input type="number" name="price" th:value="${item.price}">
      </td>
      <td>
        <input type="number" name="stock" th:value="${item.stock}">
      </td>
      <td>
        <input type="number" name="id" th:value="${item.id}" hidden>
      </td>
      <td>
        <input type="submit" value="save"/>
      </td>
    </form>
  </tr>
</table>
<form>
  <button formaction="/webshop">return to webshop</button>

</form>
</body>
</html>