<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>landing page</title>
  <link rel="stylesheet" href="\styles.css">
</head>
<body>
<img src="\tealdit_logo_1.png" id="logo_img"/>
<h1 id="logo_text_1">teal</h1>
<h1 id="logo_text_2">dit</h1>
<br>
<span class="isLightGrey">you are logged in as</span>
<span th:text="${username}" class="isDarkGrey"></span>
<form>
  <input type="submit" th:formaction="'/create/'+ ${username}" formmethod="get"
         value="create new post">
  <input type="submit" formaction="/login" formmethod="get" value="login">
  <input type="submit" formaction="/register" formmethod="get" value="register">
</form>


<table>
  <tr th:each="post : ${posts}" class="post">
    <td>
      <table>
        <tr>
          <td class="vote">
            <input type="submit" formaction="/vote-up" value="+" class="vote_button">
            <span th:text="${post.score}" id="post_score"></span>
            <input type="submit" formaction="/vote-down" value="-" class="vote_button">
          </td>
          <td>
            <p th:text="${post.title}" id="post_title"></p>
            <p th:text="'posted by ' + ${post.author}" id="post_author"></p>
            <p th:text="${post.content}" id="post_content"></p>
            <p th:text="${post.date}" id="post_date"></p>
            <img th:src="@{resources/static/user-data/photos/64e11d4e-8b55-4b83-9bf9-1ed27040e927.png}"/>
            <img th:src="@{${post.imgPath}}"/>
            <p th:text="${post.imgPath}"></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
