
body {
  font-family: Consolas, monospace;
}

.main-table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.main-table td {
  padding: 2% 0;
  border: 3px solid grey;
}

.main-table h4, .main-table h3 {
  margin: 0;
}

.mod-section {
  vertical-align: bottom;
  text-align: right;
}

.mod-section td {
  padding: 0 10px;
}

.item-list-table th {
  text-align: left;
}

.item-list-table td {
  border: 0;
  text-align: left;
  padding: 0 5px;
}

.item-list-table .mod-buttons{
  padding: 0;
}

.valami {
  margin: 0 auto;
}

.valami td{
  border: 0;
}
.valami .labels{
  text-align: right;
}

.valami .inputs{
  text-align: left;
}

.access-denied, .admin-mode-login{
  margin:  0 auto;
  text-align: center;
}

.access-denied h1{
  color: red;
}

.admin-mode-login h1{
  font-size: 24px;
}

.main-title{
  margin: 10px auto;
  text-align: center;
}

.nav-bar {
  margin: 0 auto;
  border: 0;
}

.nav-bar td{
  margin: 0 auto;
  border: 0;
  text-align: center;
}

.hint {
  margin-top: 32%;
  font-size: 60%;
  color: grey;
}
